[Unit]
Description=Twitch Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/twitch-bot
ExecStart=/root/.local/bin/uv run python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
